@import "../../css-animations/animaations.css";

.main-container {
    width:100%;
    padding:10px;
    gap: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-container{
    height:100%;
    z-index: 6;
    position: fixed;
    top: 0px;
    left:0px;
}

.search-type-switch-bar-container {
    width:100%;
    padding:10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(5px);
}

.search-type {
    width:33%;
    cursor: pointer;
    text-align: center;
    color: white;
}
