
<div class="header-container">
    <metro-header></metro-header>
</div>

<div class="main-container">

    <div class="search-type-switch-bar-container">
        <h3 class="search-type" (click)="currentSearchType = 'country' " >country</h3>
        <h3 class="search-type" (click)="currentSearchType = 'following' " >following</h3>
        <h3 class="search-type" (click)="currentSearchType = 'global' " >global</h3>
    </div>

    <app-filtered-people [currentSearchType]="currentSearchType"></app-filtered-people>

</div>
