.container {
    width:100%;
}

input {
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px 5px #333;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.224);
    padding:10px;
    border-bottom: white 1px solid;
    font-family: para;
}

input::placeholder {
    color:transparent;
    -webkit-text-stroke: .1px #333;
    color: rgba(255, 255, 255, 0.578);
    text-align: center;
}
