@import "../../../assets/reset/reset.css";

.main-container {
    width:100%;
    height:110%;
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 1% 90% 0%;
    grid-template-areas:
        ". profile profile profile profile profile profile profile profile ."
        ". profile profile profile profile profile profile profile profile ."
        ". . . . . . . . . .";
    background: transparent;
    z-index: 5;
}

.header-container{
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 3;
    height:100%;
}

.profile-container {
    grid-area:profile;
    background: transparent;
}