
@import "../../css-animations/animaations.css";

.main-container{
    height:100vh;
    z-index: 2;
    margin:0px;
    position: relative;
    overflow: hidden;

    display:flex;
    align-items:center;
    justify-content:center;

    background-image:transparent;
    background-size: 120%;
    border-radius:10px;
    font-family:main;
    animation:animated-background 9s infinite ease;
}

.form-container {
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.048);
    backdrop-filter: blur(10px );
    -webkit-backdrop-filter: blur( 7px );

    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-container h1{
    width:100%;
    font-size:30px;
    margin-bottom:50px;

    font-family:main;
    line-height: 65px;
    text-align: center;
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#eee;
}


/*media*/
@media (max-width:700px) {
    .form-container h1 {
        font-size: 24px;
    }
}

@media (max-width:300px) {
    .form-container h1 {
        font-size: 18px;
    }
}