
@import "../../css-animations/animaations.css";

.main-container{
    height:98vh;
    margin:0px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    
    display:flex;
    justify-content:center;
    align-items:center;

    font-family:main;
    background-size: 120%;
    background: transparent;
    animation:animated-background 9s infinite ease;
    border-radius:10px;
}

.login-form-container {
    width:100%;
    height:100%;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background: rgba(0, 0, 0, 0.048);
    backdrop-filter: blur(10px );
    -webkit-backdrop-filter: blur( 7px );
}

.login-form-container h1{
    width:100%;
    margin-bottom:50px;
    
    font-family:main;
    font-size:30px;
    text-align: center;
    color:transparent;
    line-height: 65px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#eee;
}

/*media*/
@media (max-width:700px) {
    .login-form-container h1 {
        font-size: 24px;
    }
}

@media (max-width:300px) {
    .login-form-container h1 {
        font-size: 18px;
    }
}