.header-container{
    height:100%;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 6;
}

.main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    margin-top: 50px;
}


.random-posts-container{
    width:70%;
    backdrop-filter: blur(5px);
}


/*media*/
@media(max-width:800px) {
    .random-posts-container{
        width:100%;
    }
}